html, body {
      display: flex;
      justify-content: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      }
	  
	  form, .table-container {
      border: 5px solid #f1f1f1;
      }
	  
	.food-container,input[type=text], textarea {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
	  
	  button {
      background-color: #4286f4;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grab;
      width: 48%;
      }
      
      button:hover {
      opacity: 0.8;
      }
	  
	   .form-group {
      text-align: center;
      margin: 24px 50px 12px;
      }
      .container {
      padding: 16px 0;
      text-align:left;
      }
	  .table{
		  border-collapse: collapse;
		  font-family: Roboto, Arial, sans-serif;
		  font-size: 15px;
	  }
	  .table th, .table td {
			padding: 5px; 
			border: solid 1px #777;
	  }
	  .table th{
			background-color: lightblue; 
	  
	}